.mode-wrapper{
    /* border: 1px solid black; */
    padding: 30px;
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.themed-text{
    font-weight: bolder;
    text-align: center;
    padding: 10px 0px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 30px;
    font-size: clamp(0.75rem, 1.08rem + 0.83vw, 1.8rem);
}
.mode-buttons{
    color: white;
    background-color: #BA55D3;
}