:root{
  --yellow: #ffc107;
  --resetGreen: #4f5651;
}
*{
  box-sizing: border-box;
}
/* .app{
  border: 1px solid black;
} */
.wrapper{
    /* border: 1px solid black; */
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.themed-text{
    font-weight: bolder;
    text-align: center;
    padding: 10px 0px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 30px;
    font-size: clamp(0.75rem, 1.08rem + 0.83vw, 1.8rem);
}
.buttons{
    border: none;
    color: white;
    background-color: #BA55D3;
    margin-bottom: 10px;
    width: 100%;
    position: relative; /* This is crucial for positioning the ripple */
    overflow: hidden;   /* This keeps the ripple inside the button */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.buttons:hover {
  filter: brightness(1.15); 
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
  transform: scale(0);
  animation: ripple-effect 0.6s linear;
}
@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}